<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página sobre como previnir do coronga vírus</title>
    <style>
        h1{ color: red; text-align: center;}
        h2{ color: blue;}
        p{ text-align: justify; }
    </style>
</head>
<body>
    <h1>Corona Vírus, Não é brincadeira</h1>
    <h2>O que é</h2>
    <p>&nbsp&nbsp&nbsp&nbsp&nbspA COVID-19 é uma doença causada pelo coronavírus SARS-CoV-2, que apresenta um quadro clínico que varia de infecções assintomáticas a quadros respiratórios graves. De acordo com a Organização Mundial de Saúde (OMS), a maioria dos pacientes com COVID-19 (cerca de 80%) podem ser assintomáticos e cerca de 20% dos casos podem requerer atendimento hospitalar por apresentarem dificuldade respiratória e desses casos aproximadamente 5% podem necessitar de suporte para o tratamento de insuficiência respiratória (suporte ventilatório).</p>
    <h2>Como se previnir</h2>
    <ol>
        <li>Lave as mãos frequentemente</li>
        <li>Use o cotovelo para cobrir a tosse e o espiro</li>
        <li>Não leve as mãos ao rosto, nariz e olhos</li>
        <li>Mantenha a uma distância segura de alguém próximo</li>
        <li>Se possível, não saia de casa(Quarentena)</li>
    </ol>
</body>
</html>